<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FinalUi.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FinalUi.Configs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FinalUi.Properties.Settings.BillingDatabaseConnectionString"
            connectionString="Data Source=VJAIN;Initial Catalog=BillingDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FinalUi.Properties.Settings.BillingDatabaseConnectionString1"
            connectionString="Data Source=KHANCOMPUTER\SQLExpress;Initial Catalog=BillingDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FinalUi.Properties.Settings.BillingDatabaseConnectionString2"
            connectionString="Data Source=PANKAJ\SQLEXPRESS;Initial Catalog=BillingDatabase;User ID=sa;Password=9811010024"
            providerName="System.Data.SqlClient" />
        <add name="FinalUi.Properties.Settings.BillingDatabaseConnectionString3"
            connectionString="Data Source=RIZWANKHAN;Initial Catalog=BillingDatabase;Persist Security Info=True;User ID=sa;Password=Alver!22"
            providerName="System.Data.SqlClient" />
        <add name="FinalUi.Properties.Settings.BillingDatabaseConnectionString4"
            connectionString="Data Source=RIZWANKHAN;Initial Catalog=BillingDatabase;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="FinalUi.Properties.Settings.BillingDatabaseConnectionString5"
            connectionString="Data Source=SYSTEM;Initial Catalog=BillingDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FinalUi.Properties.Settings.BillingDatabaseConnectionString6"
            connectionString="Data Source=PANKAJ\SQLEXPRESS;Initial Catalog=BillingDatabase;Persist Security Info=True;User ID=sa;Password=9811010024"
            providerName="System.Data.SqlClient" />
        <add name="FinalUi.Properties.Settings.BillingDatabaseConnectionString7"
            connectionString="Data Source=SYSTEM;Initial Catalog=BillingDatabase;User ID=sa;Password=Alver!22"
            providerName="System.Data.SqlClient" />
        <add name="FinalUi.Properties.Settings.BillingDatabaseConnectionString8"
            connectionString="Data Source=KHANCOMPUTER\SQLExpress;Initial Catalog=BillingDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FinalUi.Properties.Settings.BillingDatabaseConnectionString9"
            connectionString="Data Source=SYSTEM;Initial Catalog=BillingDatabase;Persist Security Info=True;User ID=sa;Password=Alver!22"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <FinalUi.Settings1>
            <setting name="theme" serializeAs="String">
                <value>Default</value>
            </setting>
        </FinalUi.Settings1>
        <FinalUi.Configs>
            <setting name="ConnString" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>A. R. Enterprises</value>
            </setting>
            <setting name="CompanyPhone" serializeAs="String">
                <value>9999999999</value>
            </setting>
            <setting name="CompanyEmail" serializeAs="String">
                <value>arentprises@gmail.com</value>
            </setting>
            <setting name="CompanyFax" serializeAs="String">
                <value>999999999</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="CompanyAddress" serializeAs="String">
                <value>23 Veer Savakar Block, Shop No.-4 opposite metro 
                pillar no.-60 shakarpur, new delhi-110092</value>
            </setting>
            <setting name="ServiceTax" serializeAs="String">
                <value>0</value>
            </setting>
        </FinalUi.Configs>
    </userSettings>
</configuration>
