<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.2.1" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.3" targetFramework="net40" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.ExceptBy" version="1.0.0" targetFramework="net40" />
  <package id="WpfAnimatedGif" version="1.4.4" targetFramework="net45" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net45" />
</packages>