<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UtilityProject.Properties.Settings.BillingDatabaseConnectionString"
            connectionString="Data Source=VJAIN;Initial Catalog=BillingDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UtilityProject.Properties.Settings.MicroDeepConnectionString"
            connectionString="Data Source=VJAIN;Initial Catalog=MicroDeep;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UtilityProject.Properties.Settings.BillingDatabaseConnectionString1"
            connectionString="Data Source=RIZWANKHAN;Initial Catalog=BillingDatabase;Persist Security Info=True;User ID=sa;Password=Alver!22"
            providerName="System.Data.SqlClient" />
        <add name="UtilityProject.Properties.Settings.BillingDatabaseConnectionString2"
            connectionString="Data Source=KHANCOMPUTER\SQLExpress;Initial Catalog=BillingDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UtilityProject.Properties.Settings.BillingDatabaseConnectionString3"
            connectionString="Data Source=SYSTEM;Initial Catalog=BillingDatabase;User ID=sa;Password=Alver!22"
            providerName="System.Data.SqlClient" />
        <add name="UtilityProject.Properties.Settings.MicroConnectionString"
            connectionString="Data Source=SYSTEM;Initial Catalog=Micro;User ID=sa;Password=Alver!22"
            providerName="System.Data.SqlClient" />
        <add name="UtilityProject.Properties.Settings.BillingDatabaseConnectionString4"
            connectionString="Data Source=PANKAJ\SQLEXPRESS;Initial Catalog=BillingDatabase;Persist Security Info=True;User ID=sa;Password=9811010024"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>